.Weather {
  border: 1px solid #dadde1;
  background: #fff;
  color: rgb(135, 135, 135);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.Weather form {
  padding-bottom: 30px;
  margin-top: 10px;
}
.Weather h1 {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
}

.Weather li strong {
  color: #f65282;
  font-weight: 400;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 500;
  line-height: 55px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  position: relative;
  bottom: 30px;
  font-size: 16px;
  line-height: 1;
}

.Weather canvas {
  color: rgb(33, 33, 33);

  margin-right: 5px;
  font-weight: 400;
}

.WeatherTemperature {
  display: inline-block;
}

.Weather .btn {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.Weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}
.Weather footer a {
  color: #885df1;
}
