.Weather {
  border: 1px solid #dadde1;
  background: #fff;
  color: rgb(135, 135, 135);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.Weather form {
  padding-bottom: 30px;
  margin-top: 10px;
}
.Weather h1 {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  position: relative;
  bottom: 25px;
  font-size: 16px;
  line-height: 1;
}

.Weather canvas {
  color: rgb(33, 33, 33);
  margin-top: 5px;
  margin-right: 5px;
  font-weight: 400;
}

.WeatherTemperature {
  display: inline-block;
}
